$black: #232323;
$header: #161616;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$background-gray: #3f4f4f;
$background-dark: #1d1b26;
$container-width: 90%;

$duration: 0.15s;

$them-blue: #2196f3;
